html, body
{
    margin-top: -5px;
    margin-left: -5px;
    width: 105%;
    height: 105%;
    overflow: hidden;
}

#masterGameWrapper
{
    margin-top: -20px;
    padding-top: 15%;
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    background-image: url("images/tetrisGod.jpg");
}

#gameMenu
{

    display: block;
    margin: auto;
    padding-left: 0px;
    width: 20%;
    background-color: lightblue;
    list-style: none;
    text-decoration: none;
    /*border: 5px solid darkblue;*/
}

.class-gameMenuOption
{
    margin-bottom: 20px;
    border-top: 1px solid #96d1f8;
   background: #0D731A;
   padding: 5.5px 11px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: center;

}

.class-gameMenuOption:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer; 
  cursor: hand;
}

/*#levelHeader
{
    text-align: center;
    color: #034F23;
    font-size: 25px;
    background-color: #9DD5F2;
    display: block;
    position: absolute;
    top: 0px;
    height: 30px;
    width: 150px;

    left: calc(100% - 75px);

    border: 5px solid black;

}*/


#gamePlayingScreen
{
    top: 0px;
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
}

#gameCanvas
{
    width: 600px;
    height: 600px;
    margin: auto;

    top: 70px;
    left: calc(100% - 300px);

    background-color: lightgreen;
    display: block;

    border: 5px solid black;
    text-align: center;
    position: absolute;

}

/*#id-gameTimerCanvas
{

    width: 1000px;
    height: 50px;
    float: right;

    background-color: lightcoral;
    display: inline-block;

    border: 5px solid black;
    
    position: absolute;
    top: 595px;
    left: calc(100% - 500px); 
}*/





#highScoresList
{
   display: block;
    margin: auto;
    padding-top: 0%;
    padding-left: 0px;
    width: 20%;
    background-color: lightblue;
    list-style: none;
    text-decoration: none;

}

#highScoresList > li
{
    margin-bottom: 20px;
    border-top: 1px solid #96d1f8;
   background: #0D731A;
   padding: 5.5px 11px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: center;
}


#creditsScreen
{
   display: block;
    margin: auto;
    padding-top: 0%;
    padding-left: 0px;
    width: 20%;
    background-color: lightblue;
    list-style: none;
    text-decoration: none;
    text-align: center;

}

#creditsScreen > span
{
    color: blue;
}


/*#id-help
{
    text-align: center;
}*/

#controlsList
{
    
    display: block;
    margin: auto;
    /*margin-top: -5%;*/
    padding-top: 0%;
    padding-left: 0px;
    width: 20%;
    background-color: lightblue;
    list-style: none;
    text-decoration: none;
}

#controlsList > li
{
      margin-bottom: 20px;
    border-top: 1px solid #96d1f8;
   background: #0D731A;
   padding: 5.5px 11px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: left;
   text-decoration: none;
   margin-left: 5px;
   text-align: center;
}

.helpImages
{
    margin-top: 5px;
    width: 35px;
    height: 35px;
}